@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
	--radius: 14px;
}

@layer base {
	html {
		background: black;
		scrollbar-width: 0 !important;
	}

	body {
		color: #CDCDCD;
	}

	.stdborder {
		@apply border-[1px] border-contrast;
	}

	.rounded-xs {
		border-radius: 8px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::marker,
::-webkit-details-marker {
	display: none !important;
}

summary {
	display: flex;
}

button {
	cursor: pointer !important;
	border: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus-visible {
	outline: 0;
}

.user_cb + .genieus_cb, .genieus_cb + .user_cb {
	@apply mt-2;
}

::-webkit-scrollbar {
	display: none !important;
}