@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
	--radius: 14px;
}

@layer base {
	html {
		background: black;
		scrollbar-width: 0 !important;
	}

	body {
		color: #CDCDCD;
		@apply mr-8 mt-8 w-96 h-[80vh] ml-auto relative;
	}

	.stdborder {
		@apply border-[1px] border-contrast;
	}

	.rounded-xs {
		border-radius: 8px;
	}

	.glass {
		background: rgb(0 0 0 / 22%);
		box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
		backdrop-filter: blur(6.9px);
		-webkit-backdrop-filter: blur(6.9px);
		border: 1px solid rgb(255 255 255 / 22%);
	}

	.glass:hover {
		background: rgb(40 40 40 / 42%);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::marker,
::-webkit-details-marker {
	display: none !important;
}

summary {
	display: flex;
}

button {
	cursor: pointer !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus-visible {
	outline: 0;
}

.user_cb + .genieus_cb, .genieus_cb + .user_cb {
	@apply mt-2;
}

::-webkit-scrollbar {
	display: none !important;
}

:is(input[type="text"], input[type="email"]):invalid:not(:focus) {
	@apply border-[#883c3c];
}

.pw_input[type="password"]:not(:placeholder-shown) {
	@apply text-lg;
}

.input_container::after {
	content: "";
	@apply h-0 ;
}

.input_container:has(input:invalid:focus)::after {
	content: "";
	@apply h-0 transition-[height] duration-150 ease-in-out;
}

.input_container:has(input:invalid:not(:focus))::after {
	content: "Please enter a valid " attr(aria-label) "!";
	@apply h-3 pl-1 font-light text-xs text-contrastlt text-left transition-[height] duration-150 ease-in-out;
}